#name-brand {
    height:100%;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 40px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
.nav-item {
    font-size: 25px;
}
.link-inactive {
    color: #A6A59F
}
.link-active {
    color:#686761
}
.navigation-content {
    margin: auto;
    width: 960px;
    margin-top:0;
}
.navbar-style {
    border-bottom:#cccccc 2px solid;
}
.navbar {
    padding: 0;
}
#navitems {
    box-align: center;
}
.horizontal {
    background-color: #dddddd;
    max-width:98%;
    height:3px;
    margin: 0 0 30px 20px;
}
.container {
    max-width:960px;
    margin: 30px auto;
    border: #cccccc 2px solid;
}
h2 { 
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    font-size: 40px;
    margin: 30px 20px;
}
#portfolio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px
}
.portfolio-text {
    color: #777777;
    font-size: 23px;
    line-height: 35px;
    word-spacing: 5px;
}
footer {
    background: #666666;
    border-top: #4aaaa5 10px solid;
    color: #fffffF; 
    height: 50px;
    text-align: center; 
}
.row {
    width:100%;
}
.padding-0 {
    padding:0
}
